@media screen and (max-width :1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    .welcome{
        height:auto;
    }
    .image-overlay{
        opacity:1;
    }
    .accordion-body img{
        width:100%;
        height:auto; 
    }
    .image-wrapper:hover img {
        filter: none;
    }
    .form-container{
        height:83vh;
    }
    .youtube-video{
        margin-bottom:206px;
    }
}