@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.logo:hover{
    cursor: default;
}

body{
    font-family: 'Open Sans', sans-serif;
    height:fit-content;
}

/*navigation bar*/
nav a{
    color:white;
    text-decoration: none;
}

a:hover{
    color:bisque;
    text-decoration-thickness: 3;
    text-decoration:underline;
    text-underline-offset: 5px;
    transition: all 300ms;
}

nav,
.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

nav{
    background-color:#6340a3;
    justify-content:space-around;
    align-items:center ;
    height: 90px;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    order: 0;
    justify-content:space-around;
}

.overview{
    padding-left: 5%;
    padding-right: 5%;
}
h1{
    text-align: center;
    font-size: 28px;
    margin-left: 40px;
    margin-right: 40px;
}

/* .accordion {
    display: flex;
    flex-direction: column;

}

.accordion-item {
    display: flex;
}

.title {
    cursor: pointer;
    background-color:rgb(190, 160, 255);
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
}

.content {
    display: none;
    padding: 5px;
    background-color:rgb(187, 168, 225);
    border: 1px solid #ccc;
    margin-left: 10px;
}

.box {
    border: 1px solid #ccc;
    padding: 5px;
}

.content img {
    max-width: 100%;
} */

#accordion{
    margin: 100px 20px 100px 20px;
    background-color:#9ba4be;
    padding-bottom: 20px;
    border-radius: 8px;
}

#accordion li{
    list-style: none;
    margin-bottom:10px;
    background-color: #bbc4e4;
    padding:10px;
    border-radius: 8px;

}

#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    color: black;

}

#accordion li label span{
    transform: rotate(90deg);
    font-size:22px;
}

#accordion label + input[type="radio"]{
    display:none
}

#accordion .content{
    padding:0 10px;
    line-height:105%;
    max-height:0;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

#accordion label + input[type="radio"]:checked + .content{
    max-height:400px
}

.map{
    display: block;
    width: 80vw;
    max-width: 600px;
}

.map-border{
    margin:0 auto;
    margin-top:20px;
    background-color:#9ba4be;
    border-radius: 10px;
    padding:10 20 20 10;
    width: fit-content;
    overflow:hidden;
}

.content{
    font-size: 19px;
}

.schedule {
    background-color: #aab4da;
    margin-top:20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #8592be;
}

tr:hover {
    background-color:#6788f7;
}

.note{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}



.footer{
    margin-top: 80px;
    width: 100%;
    padding:100px 0 100px 0px ;
    background: #333;
    color:#efefef;
    display:flex;
    /* align-items: center; */
    justify-content: center;
}

.footer div {
    text-align: center;
    width:33vw;
}

.column-2{
    flex-grow:2;
}
.column-1 a{
    text-decoration: none;
    color: #efefef;
    display:block;
    margin-bottom:10px;
}

.footer h3{
    font-weight: 300;
    margin-bottom:  30px;
    letter-spacing: 1px;
}

form input{
    width: 20vw;
    height: 45px;
    border-radius: 8px;
    text-align:center;
    margin-bottom: 20px;
    outline:none;
    border:none;
}

form button{
    background:transparent;
    border:2px solid #fff;
    color:#fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor:pointer;
}

.social-icons{
    margin-top: 30px;
}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
